@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font__padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font__especial1: 'Passion One', cursive;
    --font__especial2: 'Sriracha', cursive;
}

html,body{
    min-height: 100vh;
    font-family: var(--font__padrao);
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding:50px 0px 10px 0px;
    font-variant: small-caps;
    font-family: var(--font__especial1);
    font-size: 4em;
}

header > p{
    padding-bottom: 50px;
    color: whitesmoke;
}

header  a, footer a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header  a:hover, footer a:hover{
    color: lightgray;
    text-decoration: underline;
}

section{
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
    font-family: var(--font__especial2);
    font-size: 3.5vw;
}

section > p{
    padding-bottom:2em;
}

section.normal{
    color: black;
}

section.imagem{
    
    background-color: rgb(73, 73, 73);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 12px 0px rgba(0, 0, 0, 0.514);
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

section#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('imagens/background002.jpg');
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding:10px
}
